@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply text-base md:text-lg;
}

body {
  @apply overflow-y-scroll selection:bg-blue-200;
}
